<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'movietalkie/style1.css' %}" />
</head>
<body>
	<section class="loginform cf">
		<form name="register" action="index_submit" method="get" accept-charset="utf-8">
			<ul>
				<li>
					<label for="First Name">First Name</label>
					<input type="name" name="username" placeholder="Firstname">
				</li>
				<li>
					<label for="Last name">Last Name</label>
					<input type="name" name="user name">
				</li>
				<br>
				<li>
					<label for="usermail">Email</label>
					<input type="email" name="usermail" placeholder="yourname@email.com" required>
				</li>

				<li>
					<label for="number">Phone-Number</label>
					<input type="number" name="usernumber">
				</li>


				<li>
					<label for="password">create Password</label>
					<input type="password" name="password">
				</li>

				<li>
					<label for="password">Re-enter Password</label>
					<input type="password" name="password">
				</li>

				<li>
					<label for="gender">Gender</label>
					<input type = "radio" name = "sex" value = "male" > Male
					<input type = "radio" name = "sex" value = "female"> Female
				</li>
				<br>
					<br>
					<br>
					<li>
			<br><br><Br>
				<input type = "submit" id = "submit" onclick="validate()" value= "Register" href="home.html">
				<br>
		</li>
			</ul>
		</form>
	</section>
</body>
</html>